@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --violet: #7541c8;
  --very-dark-grayish-blue: #48556a;
  --very-dark-blakish-blue: #19212e;
  --white: #fff;
  --light-gray: #cfcfcf;
  --light-grayish-blue: #ecf2f8;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.testimonial {
  padding: 3.5em 2em;
  background-color: var(--light-grayish-blue);
  display: grid;
  gap: 2em;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "first first sec fifth"
    "third fourth fourth fifth"; */
}

.card {
  border-radius: 0.5rem;
  padding: 1.5em 2em;
  color: var(--light-grayish-blue);
}

.card:first-child {
  background-color: var(--violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 26px;
  /* grid-area: first; */
}

.card:nth-child(2) {
  background-color: var(--very-dark-grayish-blue);
  /* grid-area: sec; */
}

.card:nth-child(3) {
  /* grid-area: third; */
}

.card:nth-child(4) {
  background-color: var(--very-dark-blakish-blue);
  /* grid-area: fourth; */
}

.card:first-child img,
.card:nth-child(4) img {
  border: 2.5px solid #976bde;
}

.card:nth-child(4) img {
  border: 2.5px solid #7541c8;
}

.card:nth-child(5) {
  /* grid-area: fifth; */
}

.card:nth-child(3),
.card:nth-child(5) {
  background-color: var(--white);
  color: var(--very-dark-blakish-blue);
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user img {
  height: 33px;
  margin-right: 1em;
  border-radius: 50%;
}

.user-info .status {
  opacity: 50%;
}

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 15px 0em;
}

.user-info,
.quote {
  opacity: 70%;
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .testimonial {
    min-height: 100vh;
    padding: 10em;
    gap: 2.25em 2.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "first first sec fifth"
      "third fourth fourth fifth";
  }

  .card {
    padding-block: 2rem;
  }

  .card > *:nth-child(2) {
    flex: auto;
  }

  .card:first-child {
    grid-area: first;
  }

  .card:nth-child(2) {
    grid-area: sec;
  }

  .card:nth-child(3) {
    grid-area: third;
  }

  .card:nth-child(4) {
    grid-area: fourth;
  }

  .card:nth-child(5) {
    grid-area: fifth;
  }
}
